.vscode/launch.json
.vscode/tasks.json
secure comms python/test.py
secure comms python/test.py
secure comms python/test.py
secure comms python/__pycache__/BBCCodecNum.cpython-39.pyc
secure comms python/__pycache__/glowworm.cpython-39.pyc
*.py
*.txt
__pycache__/
!zmq_receive_bbc.py
.idea
references/



